/* universal */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

ul, p, h2, button {
  list-style-type: none;
  border: none;
  margin: 0;
  padding: 0;
}

button {
  border-radius: .5em;
  padding: .5em 2em;
}

/* header */
.header {
  display: flex;
  padding: 1em 15em;
  background-color: #1F2937;
  color: white;
}

.logo {
  margin-right: auto;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #E5E7EB;
  padding: 0 1em;
}

/* blurb */
.blurb {
  display: flex;
  gap: 3em;
  padding: 5em 15em;
  background-color: #1F2937;
  color: white;
}

.blurb > div {
  flex: 1;
}

.contentBlurb {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .5em;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkGrey;
}

.blurbHeader {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8
}

.blurbBody {
  font-size: 18px;
  color: #E5E7EB;
}

button {
  color: white;
  background-color: #3882F6;
}

/* list */
.list {
  display: flex;
  padding: 0 15em;
}

.listHeader {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}

/* quote */
.quote {
  display: flex;
  padding: 0 15em;
  background-color: #E5E7EB;
}

.quoteBody {
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
}

/* signup */
.signup {
  display: flex;
  padding: 0 15em;
}

.contentSignupContainer {
  background-color: #3882F6;
}

/* footer */
.footer {
  display: flex;
  padding: 0 15em;
}
